@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
    --theme__font: 'Barlow Condensed', sans-serif;
    --title__font: 'Bellefair', serif;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --line-color: hsl(231deg 9% 31%);
    --headline-number: hsl(222deg 9% 29%);
    --nav-bg: rgba(255, 255, 255, 0.04);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 50px;
    margin-bottom: 80px;
    .navbar {
        .navbar-collapse {
            position: relative;
            &::before {
                content: "";
                width: 45%;
                height: 2px;
                background-color: var(--line-color);
                position: absolute;
                left: 3%;
                z-index: 1;
            }
            .navbar-nav {
                background: var(--nav-bg);
                backdrop-filter: blur(40.7742px);
                padding: 0px 160px;
                .nav-item {
                    margin: 0px 25px;
                    a {
                        color: var(--white);
                        text-transform: uppercase;
                        font-size: 18px;
                        border-bottom: solid 3px transparent;
                        padding: 30px 0px;
                        letter-spacing: 2px;
                        b {
                            font-size: 20px;
                            margin-right: 10px;
                        }
                        &:hover {
                            border-bottom: solid 3px var(--white);
                        }
                    }
                    .active {
                        border-bottom: solid 3px var(--white);
                    }
                }
            }
        }
    }
}

#space__multipage__home {
    font-family: var(--theme__font);
    background-image: url(/assets/img/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    main {
        padding-top: 120px;
        #main__space__explore {
            .mse__space {
                display: flex;
                flex-direction: column;
                line-height: 1;
                .mse__space__headline {
                    text-transform: uppercase;
                    color: var(--white);
                    font-size: 35px;
                    letter-spacing: 3px;
                    margin-bottom: 20px;
                }
                .mse__space__title {
                    font-family: var(--title__font);
                    text-transform: uppercase;
                    color: var(--white);
                    font-size: 165px;
                    margin-bottom: 15px;
                }
                .mse__space__text {
                    color: var(--white);
                    font-size: 25px;
                    line-height: 1.5;
                }
            }
            .mse__explore {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                .mse__explore__content {
                    background-color: var(--white);
                    border-radius: 100%;
                    a {
                        color: var(--black);
                        font-size: 35px;
                        text-transform: uppercase;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 220px;
                        width: 220px;
                        border-radius: 100%;
                        background-color: var(--white);
                    }
                }
            }
        }
    }
}

#space__multipage__destination {
    font-family: var(--theme__font);
    background-image: url(/assets/img/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    main {
        #main__destination__content {
            .mdc__headline {
                padding-left: 200px;
                padding-right: 200px;
                margin-bottom: 30px;
                span {
                    font-size: 25px;
                    color: var(--white);
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    b {
                        color: var(--headline-number);
                        margin-right: 10px;
                    }
                }
            }
            .mdc__tab {
                padding-left: 200px;
                padding-right: 200px;
                #pills-tab {
                    .nav-item {
                        .nav-link {
                            background-color: transparent;
                            border: 0;
                            border-radius: 0;
                            font-size: 20px;
                            color: var(--white);
                            text-transform: uppercase;
                            letter-spacing: 3px;
                            padding-left: 0;
                            padding-right: 0;
                            margin-right: 25px;
                            cursor: pointer;
                            &.active {
                                border-bottom: solid 2px var(--white);
                            }
                            &:focus {
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                }
                #pills-tabContent {
                    .tab__image {
                        text-align: center;
                    }
                    .tab__content {
                        .tab__headline {
                            padding-bottom: 40px;
                            margin-bottom: 30px;
                            border-bottom: solid 2px var(--line-color);
                            .title {
                                font-family: var(--title__font);
                                color: var(--white);
                                text-transform: uppercase;
                                font-size: 90px;
                            }
                            .text {
                                color: var(--white);
                                font-size: 18px;
                                letter-spacing: 2px;
                            }
                        }
                        .tab__counter {
                            display: flex;
                            align-items: center;
                            gap: 80px;
                            .distance {
                                display: flex;
                                flex-direction: column;
                                .distance__title {
                                    color: var(--white);
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                }
                                .meter {
                                    color: var(--white);
                                    font-size: 40px;
                                }
                            }
                            .time {
                                display: flex;
                                flex-direction: column;
                                .time__title {
                                    color: var(--white);
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                }
                                .months {
                                    color: var(--white);
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#space__multipage__crew {
    font-family: var(--theme__font);
    background-image: url(/assets/img/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    main {
        #main__crew__content {
            .mcc__headline {
                padding-left: 200px;
                padding-right: 200px;
                margin-bottom: 30px;
                span {
                    font-size: 25px;
                    color: var(--white);
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    b {
                        color: var(--headline-number);
                        margin-right: 10px;
                    }
                }
            }
            .mcc__swiper {
                padding-left: 200px;
                padding-right: 200px;
                .mySwiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .pers__job {
                                display: flex;
                                flex-direction: column;
                                font-family: var(--title__font);
                                color: var(--white);
                                .job {
                                    text-transform: uppercase;
                                    font-size: 35px;
                                    color: var(--headline-number);
                                }
                                .personal {
                                    text-transform: uppercase;
                                    font-size: 65px;
                                }
                                .job__text {
                                    font-family: var(--theme__font);
                                    letter-spacing: 2px;
                                    font-size: 20px;
                                }
                            }
                            .pers__image {
                                text-align: center;
                                img {
                                    width: 400px;
                                    height: 500px;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                    .swiper-pagination {
                        display: flex;
                        bottom: 70px;
                        .swiper-pagination-bullet {
                            width: 15px;
                            height: 15px;
                            background: var(--white);
                        }
                    }
                }
            }
        }
    }
}

#space__multipage__technology {
    font-family: var(--theme__font);
    background-image: url(/assets/img/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    main {
        #main__tech__content {
            .mtc__headline {
                padding-left: 200px;
                padding-right: 200px;
                margin-bottom: 30px;
                span {
                    font-size: 25px;
                    color: var(--white);
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    b {
                        color: var(--headline-number);
                        margin-right: 10px;
                    }
                }
            }
            .mtc__swiper {
                padding-left: 200px;
                padding-right: 200px;
                .swiper-slide {
                    .mtc__content {
                        display: flex;
                        flex-direction: column;
                        color: var(--white);
                        .title {
                           text-transform: uppercase;
                           font-size: 35px;
                        }
                        .headline {
                            text-transform: uppercase;
                            font-size: 65px;
                            font-family: var(--title__font);
                        }
                        .text {
                            letter-spacing: 2px;
                            font-size: 20px;
                        }
                    }
                    .mtc__image {

                    }
                }
                .swiper-pagination-bullet {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    color: #000;
                    opacity: 1;
                    background: rgba(0, 0, 0, 0.2);
                }
                .swiper-pagination-bullet-active {
                    color: #fff;
                    background: #007aff;
                }
            }
        }
    }
}

br.small {
    display: none;
}
br.large {
    display: block;
}

@media (min-width: 1200px) {  
}

@media (max-width: 991px) { 
}

@media (max-width: 768px) { 
    br.small {
        display: block;
    }
    br.large {
        display: none;
    }
}

@media (max-width: 375px) { 
}

@media (max-width: 320px) { 
}