:root {
    --white: hsl(0, 0%, 100%);
}

#space__multipage {
    background-image: url(/assets/img/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}